:root {
  --font-family-01: "Inter", sans-serif;
  --font-family-02: "Lexend Deca", sans-serif;
  --Very-dark-blue: hsl(233, 47%, 7%);
  --Dark-desaturated-blue: hsl(244, 38%, 16%);
  --Soft-violet: hsl(277, 64%, 61%);
  --White: hsl(0, 0%, 100%);
  --Slightly-transparent: hsla(0, 0%, 100%, 0.75);
  --Slightly: hsla(0, 0%, 100%, 0.6);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--Very-dark-blue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

main {
  background-color: var(--Dark-desaturated-blue);
  width: 80%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
}
#img-container {
  content: url(../images/image-header-mobile.jpg);
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

main h1 {
  color: var(--White);
  margin-top: 1rem;
  padding: 1.8rem 3.5rem 1rem;
  text-align: center;
  font-family: var(--font-family-02);
}

main span {
  color: var(--Soft-violet);
}

.main-paragraph {
  color: var(--Slightly-transparent);
  padding: 0.5rem 3.5rem;
  text-align: center;
  font-family: var(--font-family-01);
  font-weight: 400;
  line-height: 1.5;
}
.stats {
  margin: 2.5rem 0rem;
  text-align: center;
}
.stats p {
  margin-top: 2rem;
  color: var(--White);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-01);
  font-weight: 700;
  font-size: 25px;
}

.stats span {
  color: var(--Slightly);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: var(--font-family-01);
  font-weight: 400;
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
  main {
    border-radius: 5px;
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    padding: 0rem;
  }
  #img-container {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    content: url("../images/image-header-desktop.jpg");
    width: 100%;
  }
  #main-container {
    padding: 0rem 1rem;
  }

  main h1 {
    text-align: left;
    margin-top: 3rem;
  }

  .main-paragraph {
    text-align: left;
    margin-top: 0.8rem;
  }

  .stats {
    text-align: left;
    margin-left: -26px;
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .stats span {
    padding-top: 0.3rem;
    letter-spacing: 1.5px;
  }
}
